body {
        margin: 0;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #1f1f1f;
        transition: 0.3s;
    }

    .light {
        background: #f5f5f5;
        color: olive;
    }

    .calculator {
        width: 370px;
        background:  gainsboro;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0,0,0,0.4);
        transition: 0.3s;
    }

    .light .calculator {
        background: #fff;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }

    .display {
        width: 100%;
        height: 60px;
        background: #000;
        color: #0f0;
        font-size: 28px;
        text-align: right;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
        overflow-x: auto;
    }

    .light .display {
        background: #ddd;
        color: #000;
    }

    .buttons {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }

    button {
        padding: 15px;
        border: none;
        background: #444;
        color: white;
        font-size: 17px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.2s;
    }

    button:hover {
        background: #666;
    }

    .light button {
        background: #eee;
        color: #000;
    }

    .equal {
        background: #40c057;
        color: white;
    }
    .clear {
        background: #ff4d4d;
    }

    .theme-btn {
        background: #007bff;
        grid-column: span 5;
    }

    .history-box {
        height: 120px;
        background: #111;
        color: #0f0;
        padding: 10px;
        margin-top: 15px;
        border-radius: 10px;
        overflow-y: auto;
        font-size: 14px;
    }

    .light .history-box {
        background: #ddd;
        color: #000;
    }