* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #28240009, #008192);
  color: black;
}

/* NAVBAR */
nav {
  position: fixed;
  width: 100%;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(12px);
  z-index: 1000;
  animation: slideDown 1s ease;
}

nav ul {
  display: flex;
  list-style: none;
}
nav h2 {

  color: white;
}
nav ul li a {
  color:white;
  text-decoration: none;
  margin-left: 25px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #00ffd5;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.4s;
}

nav ul li a:hover::after {
  width: 100%;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span {
  color: #3700ff3b;
}

.btn {
  margin-top: 25px;
  padding: 12px 35px;
  background: linear-gradient(45deg, #00f7ffd2, #00f7ff75);
  color: #000;
  text-decoration: none;
  border-radius: 40px;
  font-weight: bold;
  transition: 0.4s;
}

.btn:hover {
  transform: scale(1.1);
}

/* SECTIONS */
.section {
  padding: 100px 60px;
  text-align: center;
}

.bg {
  background: rgba(255, 255, 255, 0.05);
}

.projects, .skills {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
  gap: 25px;
}

.card {
  padding: 30px;
  background: rgba(255,255,255,0.12);
  border-radius: 20px;
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

/* FORM */
form {
  max-width: 400px;
  margin: auto;
}

input, textarea, button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

button {
  background: #00ccff56;
  font-weight: bold;
}

/* FOOTER */
footer{
  background: rgba(0,0,0,0.6) ;
  color:white;
  padding:40px 20px;
  text-align:center;
}
.footer-content h3{font-size:22px;margin-bottom:10px;}
.footer-content p{margin-bottom:15px;font-size:16px;color:#aaa;}
.footer-content .socials{
  display:flex;
  justify-content:center;
  gap:15px;
}
.footer-content .socials a{
  color:white;
  text-decoration:none;
  padding:8px 15px;
  border:1px solid #fff;
  border-radius:20px;
  transition:0.3s;
}
.footer-content .socials a:hover{
  background:#ff5722;
  border-color:#ff5722;
  color:white;
}

/* ANIMATION */
@keyframes slideDown {
  from {transform: translateY(-100%);}
  to {transform: translateY(0);}
}